/*──────────────────
    social media
──────────────────*/

.social-media {
    padding: 10px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
  }
  
  .social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    color: var(--main-fonts-color);
  }
  
  .social-media a i {
    cursor: pointer;
  }
  
  .social-media a:hover {
    color: var(--main-decor-color);
    text-shadow: 0 0 50px var(--main-decor-color);
  }

  /*──────────────────
      Contact
──────────────────*/

#contact {
    margin: auto;
    padding-bottom: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-fonts-color);
  }
  
  #contact p {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
  }

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-scrollbar {
    width: 5px;
    background: rgba(5, 5, 5, 1);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--main-decor-color);
    box-shadow: inset 0 0 20px var(--main-decor-color);
  }
  ::-webkit-scrollbar-track {
    margin-top: 80px;
    border-radius: 10px;
  }
  
  /*────────────────── 
       hamburger
  ──────────────────*/
  .hamburger {
    display: none;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    background: #dbdbdb;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translatex(50px);
    }
    to {
      opacity: 1;
      transform: translatex(0px);
    }
  }
  
  /*────────────────── 
      media queries
  ──────────────────*/
  
  @media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work {
      padding: 20px 20%;
    }
  }
  @media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work {
      padding: 20px 12%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    #home,
    #projects,
    #contact {
      overflow-x: hidden;
    }
    header {
      background-color: var(--main-header-background);
    }
    .logo {
      position: absolute;
      top: 2px;
      left: 30px;
    }
    .nav-show {
      opacity: 1;
    }
    .nav-bar {
      position: fixed;
      top: 0px;
      right: 0;
      width: 60%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background: var(--main-header-background);
      transform: translatex(100%);
      transition: transform 0.5s ease-in;
      z-index: -1;
    }
    .hamburger {
      position: absolute;
      top: 17px;
      right: 25%;
      display: block;
      cursor: pointer;
      z-index: 5;
    }
    .nav-bar li {
      opacity: 0;
    }
  }
  
  .nav-active {
    transform: translatex(0%);
  }
  
  /*────────────────── 
       footer
──────────────────*/

footer {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .copyright {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    color: black;
    
  }
  
  .copyright a {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
  }
  
  .copyright a:hover {
    color: var(--main-decor-color);
  }
  
  /*──── hr ─────*/
  
  hr {
    background: var(--main-decor-color);
    margin: 2px;
    height: 3px;
    width: 150px;
    border-radius: 5px;
    border: hidden;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
  